<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    

</head>
<body>
    <div class="container">
        <h2>TFI ITBA - Especialización en Ciencia de datos</h2>
        <p><strong>ETL</strong>. Haga click sobre cada panel para acceder</p>
        <div class="panel-group" id="accordion">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">1- Carga de datos</a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <p>Los siguientes son los orígenes de datos configurados para la extracción de información. Presione <strong>Cargar</strong> para dar comienzo 
                    a la carga de datos.</p>
                    
                    <form method='post'>
                        {% csrf_token %}
                        <ul class="list-group list-grohup-flus">
                    {% for website in websites %}
                      <!-- <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="{{ website.nombre }}" value="{{ website.nombre }}" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                {{ website.nombre }}
                            </label>
                          </div>  --> 
                          <li class="list-group-item">{{ website.nombre }}</li>
                    {% endfor %}
                </ul>
                       <input type="hidden" value="Prueba" name="Prueba1">
                       <button type="submit" class="btn btn-success" name="prueba01" value="Cargar">Cargar</button> 
                
                    </form>
                 </div>
              </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">2- Análisis y Procesamiento</a>
                  </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>A continuación se listan los criterios configurados para la etapa de análisis de información. Presione <strong>Procesar</strong> para dar comienzo 
                    </p>
                    <ul class="list-group list-grohup-flus">
                    {% for criterio in criterios %}
                    <li class="list-group-item">{{ criterio.nombre }}</li>
                {% endfor %}
                    </ul>               

                <form method='post'>
                    {% csrf_token %}
                   <input type="hidden" value="Prueba2" name="Prueba2">
                   <button type="submit" class="btn btn-warning" name="prueba02" value="Procesar">Procesar</button> 
                   
                </form>

                  </div>
                </div>
              </div>
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">3- Reportes</a>
                  </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                  <div class="panel-body">
                 <p>Presione <strong>Imprimir</strong> para generar reportes
   
                    <form method='post'>
                        {% csrf_token %}
                       <input type="hidden" value="Prueba3" name="Prueba3">
                       <button type="submit" class="btn btn-danger" name="prueba03" value="Reporte">Imprimir</button> 
                
                    </form>
                  </div>
                </div>
              </div>




        </div>     
    
   
    
    </div>
</body>
</html>