<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de contactos</title>
</head>
<body>
    <h3>Aplicando en el procesamiento los siguientes criterios</h3>
    {% for criterio in criterios %}
        {{ criterio.nombre }}
    {% endfor %}
    <form method='post'>
        {% csrf_token %}
       <input type="hidden" value="Prueba" name="Prueba1">
       <button type="submit" value="Cargar">Cargar</button> 

    </form>
</body>
</html>